# tex-studio-build-files
**/Main Document/*.aux          
**/Main Document/*.ilg  
**/Main Document/*.out         
**/Main Document/*.xdy       
**/Main Document/*.lof   
**/Main Document/*.bcf          
**/Main Document/*.log  
**/Main Document/*.run.xml     
**/Main Document/*.txt
**/Main Document/*.blg          
**/Main Document/*.lot  
**/Main Document/*.synctex.gz  
**/Main Document/*.fdb_latexmk  
**/Main Document/*.nlo
**/Main Document/*.fls          
**/Main Document/*.nls  
**/Main Document/*.toc
